/* FOOTER */

.footer {
    background-color: #0358b1;
}

.footer .container-fluid {
    max-width: 320px;
}

.footer .footer__img-container {
    text-align: center;
    padding: 40px 0;
}

.footer .footer__nav-container {
    border-top: 1px solid #fff;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}

.footer .footer__nav-container .footer__nav-container__copyright {
    color: #fff;
    padding-top: 40px;
}

.footer .footer__nav-container .footer__nav-container__author {
    color: #fff;
    padding: 5px 0 20px;
}

.footer .footer__nav-container .footer__nav-container__author a {
    color: #fff;
}

.footer .footer__nav-container .footer__nav-container__author a:hover {
    color: #fff;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .footer .container-fluid {
        max-width: 738px;
    }

    .footer .footer__nav-container {
        display: flex;
        justify-content: space-between;
        padding: 15px 0 20px;
    }

    .footer .footer__nav-container .footer__nav-container__copyright {
        padding: 0;
    }

    .footer .footer__nav-container .footer__nav-container__author {
        padding: 0;
    }
}

@media only screen and (min-width: 992px) {
    .footer .container-fluid {
        max-width: 1201px;
    }

    .footer .footer__nav-container {
        padding: 9px 0 19px;
    }

    .footer .footer__img-container {
        padding: 28px 0 29px;
    }
}
