/* HEADER */

.header {
    padding-top: 65px;
}

.header .header__img-container {
    text-align: center;
}

.header .header__textual-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.header .header__textual-container .header__textual-container__bullet-point {
    width: 8px;
    height: 8px;
    background-color: #f59d1d;
    border-radius: 100px;
}

.header .header__textual-container .header__textual-container__content {
    padding: 0 7px;
    height: 25px;
}

.header .header__textual-container .header__textual-container__content h1 {
    color: #f59d1d;
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
