/* CONTENT */

.content .announcement {
    margin: 38px auto 0;
    max-width: 298px;

    position: relative;
    z-index: 2;
}


.content .announcement p {
    font-size: 27px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    line-height: 36px;
}

.content .contact-informations {
    max-width: 309px;
    margin: 20px auto 0;

    position: relative;
    z-index: 2;
}

.content .contact-informations p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.content .contact-informations span {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.content .contact-informations a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #f59d1d;
    text-decoration: underline;
}

.content .img-container {
    position: relative;
    z-index: 1;

    max-width: 340px;
    max-height: 225px;
    margin: 0 auto;

    text-align: center;
    margin-top: -30px;
}


@media only screen and (min-width: 768px) {
    .content .announcement {
        max-width: 444px;
    }

    .content .announcement p {
        font-size: 37px;
        line-height: 48px;
    }

    .content .contact-informations {
        max-width: 540px;
        margin: 15px auto 0;
    }

    .content .img-container {
        max-width: 710px;
        max-height: unset;

        margin-top: -45px;
        height: 466px;
    }
}

@media only screen and (min-width: 992px) {
    .content .announcement {
        max-width: 706px;
        margin: 7px auto 0;
    }

    .content .announcement p {
        font-size: 42px;
        margin: 0;
        line-height: 58px;
    }

    .content .announcement p span {
        height: 0;
    }

    .content .contact-informations {
        max-width: 536px;
        margin: 10px auto 0;
    }

    .content .img-container {
        max-width: 725px;
        margin-top: -50px;
        height: 480px;
    }
}
